aiofiles
aiogram
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
attrs
beautifulsoup4
certifi
charset-normalizer
frozenlist
idna
instaloader
logger
magic-filter
markdown-it-py
mdurl
multidict
mutagen
propcache
pydantic
pydantic_core
Pygments
pytube
RapidFuzz
redis
requests
rich
setuptools
soupsieve
spotdl
spotipy
typing-inspection
typing_extensions
Unidecode
urllib3
uuid
yarl
yt-dlp
ytmusicapi
gallery-dl
dotenv
playwright